{% extends "base.html" %}

{% block title %}
    Registro De Roles
{% endblock %}

{% block content %}
 <div class="container">
        <div class="col-md-12" style="margin-top: 50px;">
        <div class="col-md-12" style="margin-left: 120px;">

            <blockquote class="blockquote text-center">
                <h1> ROLES </h1>
            </blockquote>
            <blockquote>
                <a class="btn btn-primary" href="{% url 'crear_rol' %}">Registrar Rol</a>
            </blockquote>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>

                        <th>Editar</th>
                        <th>Eliminar</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for r in roles %}
                        <tr>
                         <td>{{ r.id }}</td>
                         <td>{{ r.nombre }}</td>


                        <td>  <a class="btn btn-outline-primary" href="{% url 'modificar_rol' r.id  %}">Editar</a> </td>

                        <td>  <a class="btn btn-outline-danger " href="{% url 'eliminar_rol' r.id  %}">Eliminar</a> </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



        </div>
    </div>



{% endblock %}
