{% extends "base.html" %}


{% block content %}
 <div class="container">
        <div class="col-md-12" style="margin-top: 50px;">
        <div class="col-md-12" style="margin-left: 120px;">

            <blockquote class="blockquote text-center">
                <h1> Roles con Usuarios Asociados </h1>
            </blockquote>
            <blockquote>
                <a class="btn btn-primary" href="{% url 'crear_rol_usuario' %}">Crear Rol Usuario</a>
            </blockquote>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Rol</th>
                        <th>Usuario</th>

                        <th>Editar</th>
                        <th>Eliminar</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for r in rolesusuarios %}
                        <tr>
                         <td>{{ r.id }}</td>
                            <td>{{ r.rol }}</td>
                            <td>{{ r.usuario }}</td>


                        <td>  <a class="btn btn-outline-primary" href="{% url 'modificar_rol_usuario' r.id  %}">Editar</a> </td>
                        <td>  <a class="btn btn-outline-danger" href="{% url 'eliminar_rol_usuario' r.id  %}">Eliminar</a> </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



        </div>
    </div>



{% endblock %}
